/*header{*/
/*    height: 800px;*/
/*    width:98.9vw ;*/
/*    position: relative;*/
/*}*/
.nav{
    position: absolute;
    right: 43px;
    top: 10px;
    /*display: inline-block;*/
}
#navBar{
    background: #0984E3;
    box-shadow: 0px -1px 8px 2px #1c1717e8;
    position: fixed;
    width:  98.9vw;
    top: 0;
    height: 73px;
    z-index: 3;
    opacity: 0.8;
}
#na{
    /*position: absolute;*/
    right: 40px;
    top: 0;
}
.nav>li{
    display: inline-block;
    cursor: pointer;
    padding: 13px;
    font-family: 'Poppins',Inter;
    color: white;
    font-size: 17px;

}
.nav>li>a{
    color:white;
}

#homePng{
    /*background-image:url("../img/7506746.jpg");*/
    position: absolute;
    width: 98.9vw;
    height: 818px;
    background-size:cover;
    background-position: center;
    top: 30px;
    left: 0px;
    right: 0;
    /*background-position: center;*/
    /*background-size: cover;*/
    z-index: 1;
}
#Find{
    position: absolute;
    z-index: 1;
    top: 94px;
    left: 1034px;
    width: 468px;
    font-size: 50px;
    font-family: 'Poppins', Inter;
    font-weight: bold;
    color: black;
}


#weHave{
    position: absolute;
    z-index: 1;
    top: 219px;
    left: 1036px;
    width: 473px;
    font-size: 25px;
    font-family: 'Poppins', Inter;
    font-weight: normal;
    color: black;
}
#getStarted{
    position: absolute;
    z-index: 1;
    top: 298px;
    left: 1046px;
    color: white;
    font-weight: bold;
    width: 233px;
    background-color: #0984E3;
}